* { margin: 0; padding: 0; }
* { box-sizing: border-box; }

.switch {
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin: 30px auto;
}
.images {
    position: relative;
}
.images img {
    width: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    
}

/* ============ left ============== */
.images>img.current {
    left: 0;
    transform: translateX(0);
    z-index: 1;
}
.images>img.leave {
    transform: translateX(-100%);
    z-index: 1;
}
.images>img.enter {
    transform: translateX(100%);
}


/* ============ right ============== */
.images>img.out {
    transform: translateX(100%);
    z-index: 1;
}
.images>img.now{
    transform: translateX(0);
    z-index: 1;
}
.images>img.back{
    transform: translateX(-100%);
}

#buttonWrapper {
    text-align: center;
}
#buttonWrapper button {
    width: 2em;
    height: 2em;
    cursor: pointer;
}